/*start style node detail*/
.node-detail {
  padding: 20px 0;
  img {
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    color: darkblue;
    line-height: 1.6;
    margin: 40px 0;
    font-weight: 500;

  }
  .catégorie-term a{
    color: #0e69be;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
  }
}
/*end style node detail*/