.footer {
  background-color: rgba(255, 183, 138, 0.22);
  position:relative;
  bottom: 0;
  left: 0;
  top: 20px;
  padding: 20px;
  width: 100%;
  p {
    color: #000066;
    font-size:18px;
    line-height: 1.6;
  }
}