/*start style title page*/
.page-titre {
  padding-top: 140px;
   h1 {
    font-family: "Droid sans", "Lucida Grande", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: red;
    font-weight: 700;
  }
}
/*end style title page*/
